@import "../../styles/global.scss";

.form {
  color: $primary;
  padding: 5rem 0;

  .title {
    text-transform: uppercase;
  }

  .form-wrapper {
    width: 100%;
    min-height: 700px;
    background-color: $bg-form;
    border-radius: 10px;
    padding: 2rem 2rem 1rem;
  }

  &__img {
    width: 100%;
    min-height: 290px;

    img {
      width: 100%;
      padding: 3rem 1rem;
      max-width: 250px;
    }

    svg {
      max-width: 350px !important;
    }
  }

  &__content {
    p {
      font-weight: $bold;
      font-size: 28px;
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .form {
    &__content {
      p {
        font-size: 36px;
      }
    }
  }
}