@import "../../../../styles/global.scss";
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit; 
  color: inherit; 
  cursor: pointer; 
  outline: none;
}

.dropdownItem {
    width: 18.5rem;
    &_container{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: 0px;
    }

    &_section{
      background-color: #2b2b2b;
        display: flex;
        width: 100%;
        padding: 20px;
        position: relative;
    }

    &_content{
        display: flex;
        flex-direction: row;
        gap: 0px;
        width: 65%;
    }

    &_topLevel{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 35%;
        padding-right: 20px;
        border-right: 2px solid #808080;
    }

    &_link {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;

        &-inner {
            text-align: start;
            color: $primary;
            padding: 8px 0;
            font-weight: $standard;
            
            &:hover {
                text-decoration: underline solid $primary;        
            }
        }

        &-topLevel { 
            padding-bottom: 0.1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &-subLanding {
            font-size: 16px;
            color: $primary;
            align-items: center;
            &:hover {
                text-decoration: underline solid $primary;
            }
        }
    }
}

.navbarItemIcon {
    width: 100%;
    height: 100%;
    max-width: 28px;
    max-height: 28px;
    align-self: center;
    margin-right: 5px;
  
    img,
    picture {
      width: 100%;
      height: 100%;
      object-fit: contain !important;
    }
  }

  .navbarItem_description {
    margin-left: 1.5rem;
    font-size: 14px;
    color: $primary;
    text-align: start;
  }

  .subLandingPages {
    list-style-type: none;          
    text-align: start;
    margin-left: 1.7rem;
  }

  .two-column-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: calc(5 * 2rem);
    overflow: hidden;
    padding: 0;
    list-style: none;
  }

  .dropdownItem_icon {
    display: none;
  }
  
  @media only screen and (max-width: 1200px) {
    .dropdownItem {
      background-color: #2b2b2b;
      &_container {
        flex-direction: column; // Cambia a una disposición vertical
      }
  
      &_section {
        
        padding-top: 28px;
        padding-right: 28px;
        padding-bottom: 14px;
        padding-left: 28px;
        display: flex;
        flex-direction: column; // Asegura que los subitems se alineen verticalmente
      }
  
      &_content {
        flex-direction: column; // Asegura que los items dentro también sean verticales
        width: 100%; // Ocupará el 100% del ancho
        gap: 16px;
      }
  
      &_topLevel {
        width: 100%; // Asegura que el top level ocupe todo el ancho
        border-right: none; // Elimina la línea de separación si no es necesaria
        // margin-right: 0; // Elimina el margen derecho
        // padding-bottom: 8px; // Añade un poco de espacio debajo del top level
        border-bottom: 2px solid #808080;
      }
    }
  
    .subLandingPages {
      margin-left: 1.3rem;
      
    }

    .dropdownItem_icon {
      display: block;
      color: $primary;
      
      &.open {
        transform: rotate(180deg);
      }
    }
  }