@import "../../styles/global.scss";

.bannerList {
  color: $primary;

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  h2 {
    font-size: 52px;
    margin: 0;
  }


  .card_item {
    gap: 8px;
    align-items: center;
    
    h3 {
      font-size: 28px;
      margin: 0;
    }

    a {
      color: inherit;

      &:hover {
        color: $secondary;
      }
    }

    img {
      margin: 0;
      width: 80px;
      height: 80px;
      object-fit: contain;
    }

    p {
      margin: 0;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;

    a {
      margin-top: 10px;
      @include primaryBtn;
      align-self: flex-start;

     @media screen and (max-width: ($breakpoint-md - 1px)) {
      display: inline-block;
      @include primaryBtn;
      //margin: 10px auto 0; 
      text-align: center;
      align-self:flex-start;
    }
      
    }
  }
}
